Function is block of code , that is specially created for doing spefic task. 


  
        def function_name(par1,par2.....):
      
              "docstring" 
              statement1
              statement2
              ....
              ....

In [ ]:
def add(x,y): # function defination 
  "Addition "
  z = x+y 
  print("Addition = ",z)

In [ ]:
add(12,10)

Addition =  22

In [ ]:
add(20,10)

Addition =  30

In [ ]:
def calc():
  n1 = int(input("Enter 1st Number "))
  n2 = int(input("Enter 2nd Number ")) 

  print("Addition = ",n1+n2)
  print("Subtraction = ",n1-n2)
  print("Multiplication  =",n1*n2)

In [ ]:
calc()

Enter 1st Number 70
Enter 2nd Number 20
Addition =  90
Subtraction =  50
Multiplication  = 1400

In [ ]:
calc()

Enter 1st Number 30
Enter 2nd Number 20
Addition =  50
Subtraction =  10
Multiplication  = 600

In [ ]:
def even(num):
  if num % 2==0:
    print(num, " is a Even Number ")
  else:
    print(num, ' is a odd Number ')

In [ ]:
even(12)

12  is a Even Number

In [ ]:
even(13)

13  is a odd Number

In [ ]:
even(19)

19  is a odd Number

In [ ]:
def calc(n1,n2): 
  
  add=n1+n2
  sub = n1-n2 
  mult = n1*n2
  print("Addition = ",add)
  print("Subtraction = ",sub)
  print("Multiplication  =",mult)

In [ ]:
calc(12,22)

Addition =  34
Subtraction =  -10
Multiplication  = 264

In [ ]:
df = calc(19,10)

Addition =  29
Subtraction =  9
Multiplication  = 190

In [ ]:
df

In [ ]:
type(df)

NoneType

In [ ]:
def calc(n1,n2): 
  
  add=n1+n2
  sub = n1-n2 
  mult = n1*n2

  return add,sub,mult

In [ ]:
calc(12,10)

(22, 2, 120)

In [ ]:
sum, subt, mult = calc(12,10)

In [ ]:
sum

22

In [ ]:
subt

2

In [ ]:
mult

120

In [ ]:
# function is called 1st class object 
# it is possible to assign a function in a variable 
# it is possible to define one function inside another function

In [ ]:
# function :--------

In [ ]:
# Poisitional Arguments

In [1]:
def clac(x,y):
  print("Addition = ",x+y)
  print("Subtraction =",x-y)
  print('Mulplication =',x*y)
  print('Division =',x/y)

In [2]:
clac(20,10)

Addition =  30
Subtraction = 10
Mulplication = 200
Division = 2.0

In [3]:
clac(20,30)

Addition =  50
Subtraction = -10
Mulplication = 600
Division = 0.6666666666666666

In [4]:
# Poisitional Argumnets 
clac(x=80,y=20)

Addition =  100
Subtraction = 60
Mulplication = 1600
Division = 4.0

In [6]:
# keyword Arguments 
clac(y=20,x=40)

Addition =  60
Subtraction = 20
Mulplication = 800
Division = 2.0

In [13]:
# Deafault Arguments 
def sub(x=None,y=None,z=None):
  if x != None and y != None and z != None:
    return x+y+z

  elif x !=None and y != None:
    return x+y 

  else:
    print("Dear User, Airthmetic Operation can't be Perform")

In [14]:
sub(12,10,8)

30

In [15]:
sub(12,6)

18

In [16]:
sub(12)

Dear User, Airthmetic Operation can't be Perform

In [18]:
# variable length Arguments

In [19]:
def airth(*num):
  for i in num:
    if i % 2 == 0:
      print(i,' is a Even Number ')
    else:
      print(i,' is odd Number ')

In [20]:
airth(20,10,24,555,66,77,88)

20  is a Even Number
10  is a Even Number
24  is a Even Number
555  is odd Number
66  is a Even Number
77  is odd Number
88  is a Even Number

In [21]:
def fact(*num):
  for i in num:
    fact=1
    for j in range(1,i+1):
      fact *=j 
    print(f"factorial of {i} is {fact}")

In [22]:
fact(2,3,4,5,6)

factorial of 2 is 2
factorial of 3 is 6
factorial of 4 is 24
factorial of 5 is 120
factorial of 6 is 720

In [23]:
# keyword variable length Arguments

In [28]:
def dict1(**args):
  index=1
  add=0
  for i,v in args.items():
    print(f'{index} {i} {v}')
    add += v 
    index+=1 
  print('Total Ammount for Employee = ',add)

In [29]:
dict1(Mohan = 25600 , John = 18000 , smith = 32000 , Himanshu = 35000)

1 Mohan 25600
2 John 18000
3 smith 32000
4 Himanshu 35000
Total Ammount for Employee =  110600