In [ ]:
# output-function - print()
# input-function - input()

In [ ]:
n1 = 20
n2 = 10 

add = n1 + n2  

# Addition = add 
print("Addition = ",add)

Addition =  30

In [ ]:
print("Addition = ",n1+n2)

Addition =  30

In [ ]:
print("Addition of n1 and n2 is ",n1+n2)

Addition of n1 and n2 is  30

In [ ]:
print("Addition of ",n1," and ",n2," is ",n1+n2)

Addition of  20  and  10  is  30

In [ ]:
n1 = 10
n2 = 20

In [ ]:
print("Addition of {2} and {1} is {0}".format(n2,n1,n1+n2))

Addition of 10 and 20 is 30

In [ ]:
print("Addition  of {} and {} is {}".format(n1,n2,n1+n2))

Addition  of 20 and 10 is 30

In [ ]:
print(f"Addition of {n1} and {n2} is {n1+n2} ")

Addition of 20 and 10 is 30

In [ ]:
print(f"Addition = {n1+n2} \nSubtraction = {n1-n2} \nMulplication = {n1*n2} \nDivision = {n1/n2}")

Addition = 30
Subtraction = 10
Mulplication = 200
Division = 2.0

In [ ]:
fn= 'john' 
ln = 'Prasad' 

#hii, Mr John Prasad

In [ ]:
print(f' Hii, {fn} {ln} ')

 Hii, john Prasad

In [ ]:
# input() 
num = input("Dear User Enter your Name:- ")

Dear User Enter your Name:- 890

In [ ]:
num

'890'

In [ ]:
type(num)

str

In [ ]:
num = int(num)

In [ ]:
num

890

In [ ]:
type(num)

int

In [ ]:
# input()

In [ ]:
num = float(input("Enter your Age :- "))

Enter your Age :- 45.3

In [ ]:
type(num)

float

In [ ]:
num

45.3

In [ ]:
nm = input("Dear User, Enter your Name Please :- ")
num1 = int(input(f'Dear {nm}, please Enter 1st Number = '))
num2 = int(input(f'Dear {nm}, please Enter 2nd Number = '))

print(f"Dear {nm},Please find Following Operation \n1.Addition = {num1+num2} \n2.Subtraction = {num1-num2} \n3.Division ={num1/num2}")

Dear User, Enter your Name Please :- Mohan
Dear Mohan, please Enter 1st Number = 45
Dear Mohan, please Enter 2nd Number = 15
Dear Mohan,Please find Following Operation
1.Addition = 60
2.Subtraction = 30
3.Division =3.0

**operator** 

Types of Operator 
 
 1.unary:- which uses single operand at a time. E.g:- (- , ~) 

 2.Binary :-  which uses two operands 
     (+,-,*,//,/)

 3.Ternary :-   
 condition : statement1 ? statement2

In [ ]:
x=10

In [ ]:
-x

-10

In [ ]:
~x

-11

**Behalf of Nature Operands divided in in following subpart** 

1. Airthmetic operator(+,-,*,/,//,%,**)

2. Assignment operator(=,+=,-=,*=,/=,//=,%=,**=)

3. Relational Opertor( ==, < ,<= ,>, >=, !=) 

4. Logical Operator (and, or, not)

5. Boolean Operator( and , or, not) 

6. Bitwise Opertor(~ , & , | , << ,>>) 

7. Membership Operator (in , not in) 

8. identity Operator (is , is not)  

9. Uniary Minus Operator ( - )

In [1]:
# Airthmatic operator  
# + , - ,*  ,/ 
# / - True Division operator 
n1=32 
n2 =7 

n1 / n2

4.571428571428571

In [2]:
n1 // n2

4

In [3]:
n1 % n2

4

In [4]:
8 % 4

0

In [5]:
# ** 
4 ** 2

16

In [6]:
2 ** 4

16

In [7]:
4 ** 3

64

In [8]:
# Assignment Operator :- 
num1 = 60

In [9]:
num1

60

In [10]:
# num1 = num1 + 50 
num1 += 50

In [11]:
num1

110

In [12]:
# -= 
#num1 = num1 - 60 
num1 -= 60

In [13]:
num1

50

In [14]:
# Relational Operator 

num1 = 20 

num1 < 10

False

In [15]:
num1 > 10

True

In [16]:
num2 = 20 

num1 <= num2

True

In [17]:
num3 = 70

num3 >= num1

True

In [19]:
num1 == num2

True

In [20]:
# unary Minus opertor(-)
num1

20

In [21]:
-num1

-20

In [22]:
# Logical operator(and, or , not)
num1=20
num2=45

num1 < num2 and  num1 > num2

False

In [23]:
num1 <= num2 and num2>=num1

True

In [24]:
# or 
num1< num2 or num1>=num2

True

In [25]:
not(num1< num2 or num1>=num2 )

False

In [ ]:
# and 
# or 
# not

In [ ]:
# Airthmetic

# bracket 
# ** 
# * or / 
# +, -
# =

In [27]:
num1 = 20 + 4**2 / 5*6*(4**2)

In [28]:
num1

327.20000000000005

In [29]:
num1 = 20 
num2 = 0 

num1 and num2

0

In [30]:
# if x is true then it return y otherewise x 
x=20
y=0

In [31]:
x and y

0

In [32]:
y and x

0

In [33]:
n1 = 40
n2 = 20 

n1 and n2

20

In [34]:
n2 and n1

40

In [37]:
num1 =10
num2 = 34 

num1 and num2

34

In [38]:
num2 and num1

10

In [40]:
# or operator :- if x is true it returns x otherewise y.
x=''
y=30 

x or y

30

In [41]:
# not operator 
num1 =''
not num1

True

In [42]:
num2 =0 
not num2

True

In [43]:
x=20 
not x

False

In [44]:
20 and 30

30

In [45]:
'' and 20

''

In [ ]:
# and operator

In [ ]:
df = input('Dear User, Please Enter your Name - ')

Dear User, Please Enter your Name - Aman

In [ ]:
df

'Aman'

In [ ]:
num = float(input("Please Enter a Number = "))

Please Enter a Number = 20.5

In [ ]:
num

20.5

In [ ]:
type(num)

float

In [ ]:
n1 = int(input("Enter 1st Number = "))
n2 = int(input("Enter 2nd Number = "))

print("Addition =",n1+n2)

Enter 1st Number = 20
Enter 2nd Number = 10
Addition = 30

In [ ]:
nm = input("Dear User Enter your Name = ")

df1= int(input(f"Dear {nm}, Please Enter 1st Number "))
df2= int(input(f"Dear {nm}, Please Enter 2nd Number ")) 

print(f' Dear {nm}, Please find following operation \n1. Addition = {df1+df2} \n2. Subtraction = {df1-df2}')

Dear User Enter your Name = Purshotam
Dear Purshotam, Please Enter 1st Number 45
Dear Purshotam, Please Enter 2nd Number 20
 Dear Purshotam, Please find following operation
1. Addition = 65
2. Subtraction = 25

In [ ]:
fn = input('Please Enter your first Name = ')
ln = input('Please Enter your Last Name = ')

print(f'Hii , Mr/Miss {fn} {ln}')

Please Enter your first Name = Reena
Please Enter your Last Name = Chandra
Hii , Mr/Miss Reena Chandra

In [ ]:
x=20
y=45

# Addition = 65 

z =x+y

In [ ]:
print('Addition = ',z)

Addition =  65

In [ ]:
# Addition of x and y = add

In [ ]:
print("Addition of x and y is = ",z)

Addition of x and y is =  65

In [ ]:
print("Addition of x and y is = ",x+y)

Addition of x and y is =  65

In [ ]:
print("Multiplication of x and y is = ",x*y)

Multiplication of x and y is =  900

In [ ]:
# addition of 20 and 40 is 60

In [ ]:
print("Addition of ",x,"and",y," is ",x+y)

Addition of  20 and 45  is  65

In [ ]:
print('Addtion of {0} and {1} is {2}'.format(y,x,x+y ))

Addtion of 45 and 20 is 65

In [ ]:
print('Addtion of {} and {} is {}'.format(x,y,x+y ))

Addtion of 20 and 45 is 65

In [ ]:
print(f"Addition of {x} and {y} is {x+y}")

Addition of 20 and 45 is 65

In [ ]:
x

20

In [ ]:
y

45

In [ ]:
print(f"Addition = {x+y} \nSubtraction = {x-y} \nMultplication = {x*y} \nDivision = {x/y}")

Addition = 65
Subtraction = -25
Multplication = 900
Division = 0.4444444444444444

In [ ]:
# input function = input() 
num = int(input("Enter the Number :- "))

Enter the Number :- 56

In [ ]:
type(num)

int

In [ ]:
num = int(input("Enter the 1st  Number :- "))
num1 = int(input("Enter the 2nd  Number :- ")) 

print("Addtion =",num+num1)

Enter the 1st  Number :- 12
Enter the 2nd  Number :- 20
Addtion = 32

In [ ]:
fn = input("Enter your first Name:- ")
ln = input("Enter your last Name:- ")
# Mohit solanki 
print("Full Name = ",fn+" "+ln)

Enter your first Name:- mohit
Enter your last Name:- solanki
Full Name =  mohit  solanki

In [ ]:
fn.capitalize

In [ ]:
# MOHIT SOLANKI
# MohitSolanki

In [ ]:
fn = input("Enter your first Name:- ").capitalize()
ln = input("Enter your last Name:- ").capitalize() 

print("Name = ",fn+ln)

Enter your first Name:- solanki
Enter your last Name:- Mohit
Name =  SolankiMohit

In [ ]:
nam1 = input("Enter Your Name") 
age = int(input(f"Dear {nam1}, how are you old  -"))
# Dear name, how old are you ?

Enter Your Namechirag
Dear chirag, how are you old  -22

In [ ]:
age = list(input(f"Dear {nam1}, how are you old  -"))

Dear chirag, how are you old  -345678

In [ ]:
age

['3', '4', '5', '6', '7', '8']

In [ ]:
st = "once there was a lion"

In [ ]:
st = st.split(" ")

In [ ]:
st

['once', 'there', 'was', 'a', 'lion']

In [ ]:
st = st[::-1]

In [ ]:
st

['lion', 'a', 'was', 'there', 'once']

In [ ]:
" ".join(st)

'lion a was there once'

In [ ]:
# and :- 
# x and y 
# if x is true then it return y otherewise x

In [46]:
x=10 
y=0

In [47]:
x and y

0

In [48]:
y and x

0

In [49]:
n1=46
n2=67

n1 and n2

67

In [50]:
n2 and n1

46

In [51]:
n1 =90
n2 =70

n1 and n2

70

In [52]:
n2 and n1

90

In [53]:
# or Operator :- if x is true it return x otherwise y

In [54]:
x=20
y=10

x or y

20

In [55]:
n1= ''
n2 = 34

n1 or n2

34

In [56]:
not n1

True

In [57]:
not n2

False