Welcome to Variable assignment

In [14]:
a = "string"
b = 3 #number
c = 3.10 #floating nunber
d = 2 + 4j #complex number
print(a,b,c,d)

string 3 3.1 (2+4j)

In [15]:
my_income = 200
Income_tax = 0.2
my_total_incometax = my_income * Income_tax
print(my_total_incometax)

40.0

Introduction to string & Methods

In [16]:
a = 'python'
print(a)

python

In [17]:
type(a)

str

In [18]:
len(a)

6

In [19]:
print(a)

python

In [20]:
print(a)

python

In [21]:
a[0:2]

'py'

In [22]:
a.capitalize

In [23]:
a.capitalize()

'Python'

In [24]:
a.upper()

'PYTHON'

In [25]:
a[0: :2]

'pto'

In [26]:
name = 'Anish'
print(name * 8)

AnishAnishAnishAnishAnishAnishAnishAnish

In [27]:
firstName = "anish"
second_name = firstName[2:]
othername = 'a'
print(othername + second_name)

aish

In [28]:
print(firstName.split('i'))

['an', 'sh']

Formatting with the .format() method

A good way to format objects into your strings for print statements is with the string .format()
method. The syntax is:
'String here 0 then also 0'.format('something1','something2')

In [29]:
print("This string is {}".format('inserted'))

This string is inserted

In [30]:
print('this {q} {b} {f}'.format(f='fox', b='brown', q=
                             "quick"))
print('this {f} {f} {f}'.format(f='fox', b='brown', q=
                             "quick"))

this quick brown fox
this fox fox fox

Float formatting follows "{value:width.precision f}"

width means total leanth

In [31]:
result = 100/777
result

0.1287001287001287

In [32]:
print('this is the {r:1.2f}'.format(r=result))

this is the 0.13

In [33]:
name = 'ak'
print('his name is {}'.format(name))
print(f'his name is {name}') # Its an template string literal use in python like other languages.

his name is ak
his name is ak

In [34]:
my_list = [1,2,3,4,5,6]
another_list = ['one', 'two', 'three']
new_list = my_list + another_list
print(new_list)
# read and try another list method's like pop,revrse, sort etc.

[1, 2, 3, 4, 5, 6, 'one', 'two', 'three']

In [35]:
print(new_list[2:5])

[3, 4, 5]

In [36]:
my_dist = { 'key1': "value1", 'key2': "value2" };
my_dist;
my_dist["key1"];

In [53]:
mysets = set()
my_no_list = [1,2,3,21,5,3,2,1]
mysets.add(1)
print(mysets)
set(my_no_list)

{1}

{1, 2, 3, 5, 21}

Reading, Writing, Appending Modes
</br>
• mode='r' is read only</br>
• mode='w' is write only (will overwrite files or create new!)</br>
• mode='a' is append only (will add on to files)</br>
• mode='r+' is reading and writing</br>
• mode= 'w+' is writing and reading (Overwrites existing files or creates a
file!)</br>

In [ ]:
with open('file_txt', mode='w') as f:
    print(f.write('hey i am here'))

13

In [ ]:
with open('file_txt', mode='r') as f:
    print(f.read())

hey i am here

In [7]:
data = {'id' : [1011, 1012,1013,1011,1013,1014 ],'Name' : [ ' ram' , 'mohan' , ' shyam' , 'sohan' ] }
set(data['id'])

{1011, 1012, 1013, 1014}

In [16]:
df ="Once there was a King"
word = df.split()
word = list(reversed(word))
print(" ".join(word))

King a was there Once

In [1]:
get_user_nm = input('enter name :- ')
f_no = int(input(f'Dear {get_user_nm} enter 1st no:-'))
f_no2 = int(input(f'Dear {get_user_nm} enter 2st no:-'))
print(f'Dear {get_user_nm} following operation \n1. addition{f_no + f_no2} \n2. subtraction{f_no - f_no2} \n3. multipcation{f_no * f_no2} \n4. division{f_no / f_no2}')

Dear anish kumar following operation
1. addition30
2. subtraction-10
3. multipcation200
4. division0.5